/*Cargador*/
#contenedorcargando{
	position:fixed;
	top:0px;
	left:45%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	padding:2px;
	margin:0px;
	background-color:#FFF;
	/*box-shadow:#CCC    0px 0px 2px inset;*/
	display:none;
	z-index:9999;
}
.der{
	text-align:right;	
}
tr.centrar th,.centrar{
	text-align:center;	
}
tr.resaltar td,td.resaltar,.resaltar{
    font-weight:bold;
}
.ocultar{
	display:none;	
}
/*Fin de Cargador*/
/*Titulo*/
.cabecera1 {
    font-weight: bold;
    font-size: 28px;
    font-family: "Arial";
    color: #FFF;
    
    text-shadow: 0 1px 0 #ccc, 
    
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    
    color:#FFFFFF;
    margin:10px 10px 10px 10px;
}
.cabecera2 {
  font-weight: bold;
  font-size: 18px;
  font-family: "Arial";
  text-shadow:0 1px 0 #000000;
  /*text-shadow: 0 1px 0 #ccc, 
   0 2px 0 #c9c9c9,
   0 3px 0 #bbb,
   0 4px 0 #b9b9b9,
   0 5px 0 #aaa,
   0 6px 1px rgba(0,0,0,.1),
   0 0 5px rgba(0,0,0,.1),
   0 1px 3px rgba(0,0,0,.3),
   0 3px 5px rgba(0,0,0,.2),
   0 5px 10px rgba(0,0,0,.25),
   0 10px 10px rgba(0,0,0,.2),
   0 20px 20px rgba(0,0,0,.15);*/
  color: #FFF;
    margin:10px;
}
/*Fin Titulo*/
